extends layout

block content
  h1= heading
  p Welcome to #{title}
  a(href="/contacts/add") Add a Contact
  hr
  if contacts.length> 0
    #contacts-wrapper
      table.contacts-list
        each val in contacts
          tr
            td
              a(href=`/contacts/${val.id}`)= val.text.firstName
            td= val.text.lastName
            td= val.text.email
            td= val.text.notes